hr {
	border-color: black;
}

.table .table-header div { 
	background: #ddd; 
	border-radius: 5px; 
	padding: 5px; 
	font-family: Times; 
	color: #222; 
}
.table .table-row div { display: inline-block; }
.table .table-col1 { width: 30%; }
.table .table-col2 { width: 60%; }
.table .table-col3 { width: 8%; }
.table .table-big-text { 
	font-size: 40; 
	text-align: center; 
	margin-top: 20px; 
	margin-bottom: 0px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	font-size: 40px;
	font-family: Times;
	color: #999;
}

.panel-header {
	font-size: 25px;
	background: #444;
	color:#fff;
	padding: 5px;
	padding-left: 20px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-buttons {
	padding-top: 30px;
	padding-bottom: 10px;
}

.info-panel { border-bottom: 1px solid #ddd; padding-bottom: 4px; padding-top: 4px;}
.info-panel div { display: inline-block; }
.info-panel div.link { text-align: left; }
.info-panel div.github {text-align: right; float: right;}